.formBuilderPage
{
  background-color: rgb(199, 206, 214);
  margin-top: 10px; 
  min-height: 200px;  
}
.form-content
{
  background-color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 15px;
}
 
.tooltip {
  margin-top: 5px;
  position: relative;
  display: inline-block;  
  height: 26px; 
  padding: 3px; 
  background-color: rgb(245, 245, 245);
  border-radius: 13px;
}
.tooltip:hover
{
  cursor: pointer; 
  background-color: rgb(231, 227, 227);
}

.addSectionIcon{
  height: 20px; 
  margin-top: -10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 70px;
  font-size: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 115%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}